.top-bar,
.top-bar ul{
    background-color: #383d3d;
    color: #fff;
}

#form{
    padding: 2rem 0;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
}

#results{
    padding: 2rem 0 8rem;
}

.flight-results{
    list-style: none;
    margin: 0;
    padding: 0;
}

.flight{
    padding: 1.5rem 0;
    border-bottom: 1px solid #ddd;
}

.flight-price,
.leg-time{
    font-weight: bold;
}

.flight-price{
    padding-right: 1rem;
}

.flight-price:not(:last-child){
    border-right: 1px solid #ddd;
}

.leg-airlines,
.leg-destination,
.leg-duration,
.flight-price{
    margin-right: 1rem;
}

.leg-time,
.leg-departure,
.leg-arrow{
    margin-right: 0.5rem;
}

.leg-arrow{
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1rem;
    color: #888;
}

.leg-airlines em:not(:last-child)::after{
    content: ", ";
}

.flight-freq-flyer{
    color: #666;
}

.flight-miles{
    color: #00e5e5;
    font-weight: bold;
}

.error{
    color: red;
}